# Modulo 1 conceptos básicos Variables, expresiones y Operaciones Básicas

# Escalares

Números que utilizamos normalmente para contar, medir, sumar,...

In [1]:
5

5

In [2]:
x=5
y=10

In [3]:
x+y

15

### Operaciones Básicas

In [4]:
# Suma y multiplicación
print("suma y multiplicacion") # la comilla simple es más "visible"
print(x+3*y)

suma y multiplicacion
35

In [5]:
# División y uso del f string para concatenar texto más variables al mismo tiempo:
print(f"División: {y/x}")

División: 2.0

In [6]:
# Potenciación
# Modo 1:
print(f"x elevado a la y, es igual a: {x**y}") # no es con el simbolo ^
# Modo 2:
print(f"x elevado a la y, es igual a: {pow(x,y)}")

x elevado a la y, es igual a: 9765625
x elevado a la y, es igual a: 9765625

In [7]:
# Cociente
print(f"El cociente de x entre y es: {x//y}")
# Residuo
print(f"El residuo de x entre y es: {x%y}")
# Cociente y residuo al tiempo
print(f"Cociente y residuo de x entre y {divmod(x,y)}") # hallar el residuo es encontrar el modulo

El cociente de x entre y es: 0
El residuo de x entre y es: 5
Cociente y residuo de x entre y (0, 5)

## Libreria comandos de matematicas

In [8]:
import math as m
import numpy as np

In [9]:
# Raiz cuadrada:
print(f"la raiz cuadrada de {x} es igual a = {m.sqrt(x)}")

la raiz cuadrada de 5 es igual a = 2.23606797749979

In [10]:
# Seno
print(f"el seno de {x} es igual a = {m.sin(x)}")

el seno de 5 es igual a = -0.9589242746631385

In [11]:
# Llamar pi

np.pi

3.141592653589793

### Funciones Trigonometricas

In [12]:
# Coseno:
print(m.cos(59))
# Tangente
print(m.tan(30))

-0.7710802229758452
-6.405331196646276

## Operadores relacionales


Nombre                | Operador        |Ejemplo
-----------------------|-----------------|-----------------
Mayor que              | >               | a >b     
Menor que              | <               | a< b     
Mayor o igual que      | >=              | a >=b   
Menor o igual que      | <=              | a<= b   
Igual a                | ==              | a ==b  
Distinto de            | !=              | a !=b

In [13]:
print(5 <= 10)
print(7 >= 8)
print('si'!='no')

True
False
True

## Operadores lógicos o de conjunto

|Nombre                                 | Operador   |símbolo
----------------------------------------|------------|------------------
|Interesección                        | y                | &, and     
|Unión                                     | o                | ,or      
|Negación                               | NO              | not  
|Unión menos intersección  | o exclusivo |   ^

In [21]:
# Logica proposicional:
print(4==8 & 3==3)
print(4==8 or 3==3)
print(not(4!=4))
print((5<10)^(2==8/3)) # exclusivo es cierto, si solo uno es verdadero, si ambos son verdaderos o falsos, da falso.

False
True
True
True

## Operadores de asignación

Símbolo  | Ejemplo 
-----------|-------
a = b      | =
a = a+1    | a+=1
a = a-1    | a-=1
a = a+b    | a+=b
a = a-b    | a-=b
a = a*b    | a*=b
a = a/b    | a/=b
a= a%b     | a%=b

In [27]:
# Python es un lenguaje que permnite reasignar el valor de sus variables, sin solicitarnos confirmación en caso que exista una variable ya creada con ese objeto, por ejemplo a continuación voy a cambiar el valor de una variable ya creada (x)
x = 7

In [28]:
# Teniendo en cuenta esto, si quiero modificar una variable creada, debo hacer lo siguiente:
x = x+1
x

8

## Impresiones en pantalla

In [31]:
print('Hola mundo')

Hola mundo

In [32]:
display('hola mundo')

'hola mundo'

In [29]:
# forma "pro":
x+=1
x

9

In [30]:
x*=2
x

18

## Entrada de datos

In [35]:
nombre = str(input("Escriba su nombre: "))
nombre

'Elkin'

In [36]:
type(nombre)

str

# Objetos en python

Un objeto es un elemento que tiene un nombre, un valor y un tipo. El tipo lo hereda del valor que toma

In [37]:
x=5

In [38]:
type(5)

int

In [39]:
x='hola'

In [41]:
type(x)
# al ser el objeto, el tipado es dinámico, de acuerdo a la variable asignada.

str

In [43]:
# cambiar tipo de datos
x=10
x = str(x)
type(x)

str

## Tipos de datos

#### Enteros: 
Son variables que guardan números enteros.

In [1]:
numero1 = int(input("Ingresa el primer número: "))
numero2 = int(input("Ingresa el segundo número: "))
print(f"la sumatoria de los números {numero1} + {numero2} es igual {numero1 + numero2}")

la sumatoria de los números 5 + 7 es igual 12

### Float: 
Números decimales

  Especificador | Salida mostrada 
 -------|-------
d ó i| Entero con signo 
u| Entero sin signo 
f| Décimal de punto flotante 
e| Notación científica 
g| Representación corta 
c| Caracter
s| Cadena de caracteres

In [4]:
y = 1/3
print(y)
type(y)

0.3333333333333333

float

In [6]:
print(f"Esta es una aproximación del número 1/3: {y:.4f}")

Esta es una aproximación del número 1/3: 0.3333

In [10]:
print(f"%.2f es una aproximación del número 1/3: " %y) # f de float

0.33 es una aproximación del número 1/3:

In [12]:
print(f"%.2e es una aproximación cientifica del número 1/3: " %y) # e de notación cientifica

3.33e-01 es una aproximación cientifica del número 1/3:

### Tipo booleano : 
Toma los valores de falso o verdadero

In [5]:
v = True
f = False

print(f"Existen tipos de datos Verdadero {v} o Falso {f}")

Existen tipos de datos Verdadero True o Falso False

### String: Cadenas de caracteres.

In [13]:
st = "Hola mundo"
print(st)

Hola mundo

### Listas

Secuencias de longitud variable. Son mutables ya que los elementos que las conforman pueden modificarse.

In [14]:
Lista1 = [3,5,8]
print(Lista1)

[3, 5, 8]

In [18]:
Lista2 = ["Manzana","Limon", "Banano"]
print(Lista2)

['Manzana', 'Limon', 'Banano']

In [16]:
# Longitud de lista:

len(Lista2)

3

## Funciones con listas

Longitud de una lista

In [17]:
len(Lista2)

3

Agregar un elemento a la lista

In [19]:
Lista2.append("Coco")
print(Lista2)

['Manzana', 'Limon', 'Banano', 'Coco']

Unir los elementos de dos listas

In [21]:
Lista2.append(["Fresa", "Banano"]) # append solo funciona para un elemento
print(Lista2)

['Manzana', 'Limon', 'Banano', 'Coco', ['Fresa', 'Banano']]

In [23]:
Lista2.extend(["Fresa", "Banano"]) # Extend si agrega elemento a elemento
print(Lista2)

['Manzana', 'Limon', 'Banano', 'Coco', ['Fresa', 'Banano'], 'Fresa', 'Banano']

Acceder al último elemento de la lista

In [24]:
Lista2[0]

'Manzana'

In [25]:
Lista2[4]

['Fresa', 'Banano']

In [26]:
Lista2[-1]

'Banano'

In [28]:
Lista2[len(Lista2)-1]

'Banano'

Insertar un elemento en cualquier posición

In [29]:
# insertar un elemento en la posición 2

Lista2.insert(2,"Kiwi")

In [30]:
Lista2

['Manzana',
 'Limon',
 'Kiwi',
 'Banano',
 'Coco',
 ['Fresa', 'Banano'],
 'Fresa',
 'Banano']

Quitar elementos

In [32]:
Lista2.pop(3)
Lista2

['Manzana', 'Limon', 'Kiwi', 'Coco', ['Fresa', 'Banano'], 'Fresa', 'Banano']

Quitar elemento con cierto valor

In [33]:
Lista2.remove("Fresa")
Lista2

['Manzana', 'Limon', 'Kiwi', 'Coco', ['Fresa', 'Banano'], 'Banano']

Verificar si un elemento está en lista

In [35]:
"Kiwi" not in Lista2

False

In [36]:
Lista2.index("Coco")

3

Ordenar listas de manera ascendente

In [38]:
Lista2.sort(key=len) # ordena de acuerdo a longitud cuando sea string
Lista2

[['Fresa', 'Banano'], 'Kiwi', 'Coco', 'Limon', 'Banano', 'Manzana']

Ordenar listas de forma descendente

In [50]:
Lista2.sort(key=sorted, reverse=True) # el reverse define si es asc o desc
Lista2

['Manzana', 'Limon', 'Kiwi', 'Coco', ['Fresa', 'Banano'], 'Banano']

Ordenar por cantidad de caracteres

In [51]:
Lista2.sort(key=len) # ordena de acuerdo a longitud cuando sea string
Lista2

[['Fresa', 'Banano'], 'Kiwi', 'Coco', 'Limon', 'Banano', 'Manzana']

Numerar las listas

In [55]:
list(enumerate(Lista2))

[(0, ['Fresa', 'Banano']),
 (1, 'Kiwi'),
 (2, 'Coco'),
 (3, 'Limon'),
 (4, 'Banano'),
 (5, 'Manzana')]

Emparejar listas

In [56]:
nombres = ["Paola","Pedro","Juan","Dario"]
Apellidos = ["Arevalo","Bautista","Gomez","Rodriguez"]

In [58]:
list(zip(nombres,Apellidos))

[('Paola', 'Arevalo'),
 ('Pedro', 'Bautista'),
 ('Juan', 'Gomez'),
 ('Dario', 'Rodriguez')]

Desempaquetar una lista

In [60]:
a,b,c = [2,3,5]

In [63]:
a

2

Lista con rango de números

In [66]:
# rangos en python, frecuencias en r

list(range(1,1001))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000]

In [67]:
# lista de 3 en 3

list(range(1,1001,3))

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97,
 100,
 103,
 106,
 109,
 112,
 115,
 118,
 121,
 124,
 127,
 130,
 133,
 136,
 139,
 142,
 145,
 148,
 151,
 154,
 157,
 160,
 163,
 166,
 169,
 172,
 175,
 178,
 181,
 184,
 187,
 190,
 193,
 196,
 199,
 202,
 205,
 208,
 211,
 214,
 217,
 220,
 223,
 226,
 229,
 232,
 235,
 238,
 241,
 244,
 247,
 250,
 253,
 256,
 259,
 262,
 265,
 268,
 271,
 274,
 277,
 280,
 283,
 286,
 289,
 292,
 295,
 298,
 301,
 304,
 307,
 310,
 313,
 316,
 319,
 322,
 325,
 328,
 331,
 334,
 337,
 340,
 343,
 346,
 349,
 352,
 355,
 358,
 361,
 364,
 367,
 370,
 373,
 376,
 379,
 382,
 385,
 388,
 391,
 394,
 397,
 400,
 403,
 406,
 409,
 412,
 415,
 418,
 421,
 424,
 427,
 430,
 433,
 436,
 439,
 442,
 445,
 448,
 451,
 454,
 457,
 460,
 463,
 466,
 469,
 472,
 475,
 478,
 481,
 484,
 487,
 490,
 493,
 496,
 499,
 502,
 505,
 508,
 511,
 514,
 517,
 520,
 523,
 526,
 529,
 532,
 535,
 538,
 541,
 544,
 547,
 550,
 553,
 556,
 559,
 562,
 565,
 568,
 571,
 574,
 577,
 580,
 583,
 586,
 589,
 592,
 595,
 598,
 601,
 604,
 607,
 610,
 613,
 616,
 619,
 622,
 625,
 628,
 631,
 634,
 637,
 640,
 643,
 646,
 649,
 652,
 655,
 658,
 661,
 664,
 667,
 670,
 673,
 676,
 679,
 682,
 685,
 688,
 691,
 694,
 697,
 700,
 703,
 706,
 709,
 712,
 715,
 718,
 721,
 724,
 727,
 730,
 733,
 736,
 739,
 742,
 745,
 748,
 751,
 754,
 757,
 760,
 763,
 766,
 769,
 772,
 775,
 778,
 781,
 784,
 787,
 790,
 793,
 796,
 799,
 802,
 805,
 808,
 811,
 814,
 817,
 820,
 823,
 826,
 829,
 832,
 835,
 838,
 841,
 844,
 847,
 850,
 853,
 856,
 859,
 862,
 865,
 868,
 871,
 874,
 877,
 880,
 883,
 886,
 889,
 892,
 895,
 898,
 901,
 904,
 907,
 910,
 913,
 916,
 919,
 922,
 925,
 928,
 931,
 934,
 937,
 940,
 943,
 946,
 949,
 952,
 955,
 958,
 961,
 964,
 967,
 970,
 973,
 976,
 979,
 982,
 985,
 988,
 991,
 994,
 997,
 1000]

In [72]:
Paises = ['Colombia', 'Argentina', 'Brasil']
Paises[1]

'Argentina'

In [73]:
Paises[1] = 'Ecuador'
Paises

['Colombia', 'Ecuador', 'Brasil']

### Tuplas

Son secuencias de longitud fija. No son mutables.

In [74]:
Paises = ('Colombia', 'Argentina', 'Brasil')
Paises[1]

'Argentina'

In [75]:
Paises[1] = 'Ecuador' # en las tuplas no se puede modificar, no es mutable

TypeError: 'tuple' object does not support item assignment

### Fechas

Las fechas se definen como strings

In [82]:
from datetime import datetime

hoy = "2023-07-11"
fin = "2023-12-31"


fecha_hoy = datetime.strptime(hoy, "%Y-%m-%d")
fecha_fin = datetime.strptime(fin, "%Y-%m-%d")

print(hoy)
print(fin)

2023-07-11
2023-12-31

In [83]:
difdates = fecha_fin - fecha_hoy

print(difdates)

173 days, 0:00:00