# Modulo 2 Condiciones, controles de flujo y funciones

# Diccionarios

Un diccionario es un objeto que almacena una clave y un valor. Se accede a sus elementos a través de su valor.

In [1]:
clientes = {1: "Maria", 2: "Juan", 3: "Ricardo", 4: "Elkin"}
clientes

{1: 'Maria', 2: 'Juan', 3: 'Ricardo', 4: 'Elkin'}

In [4]:
productos = dict(zip(['A','B','C','D'],['Perro','Arroz','Huevo','Jamon']))
productos

{'A': 'Perro', 'B': 'Arroz', 'C': 'Huevo', 'D': 'Jamon'}

#### Elementos del diccionario

#### Claves del diccionario

In [5]:
clientes.keys()

dict_keys([1, 2, 3, 4])

#### Valores del diccionario

In [6]:
clientes.values()

dict_values(['Maria', 'Juan', 'Ricardo', 'Elkin'])

#### Acceso a los elementos a través de claves

#### Agregar nuevos elementos al diccionario

#### Unir diccionarios

#### Eliminar elementos del diccionario

## Sentencias condicionales

Ejecución de instrucciones cuando se cumplen ciertas condiciones:

**Ejemplo:**

Defina una condicional que determine si un numero es par o no.

In [8]:
a = int(input("Ingresa un número: "))

if a%2 == 0:
    print("El numero es par")
else:
    print("El número es impar")

El numero es par

### Varias condicionales:
    
Defina una condicional que determine si un número es par, impar o 0.

Cree un programa que determine si un número es múltiplo de 3, si es múltiplo de 5, si es múltiplo de ambos o no es múltiplo de ninguno

In [1]:
#Si es multiplo de 3 y/o 5
y = int(input("Ingrese el número: "))
if y%3==0 and y%5==0:
  print('El numero es divisible por 3 y 5') 
elif y%3==0:
  print('El valor ingresado es multiplo de 3')
elif y%5==0:
  print('El número ingresado es multiplo de 5')
else:
  print('El número no es multiplo de 3 y/o 5')

El número no es multiplo de 3 y/o 5

## Ciclos

Son rutinas repetitivas que se realizan por un número definido de veces o hasta que se cumple cierta condición

### Ciclo for

Los ciclos for se realizan sobre los elementos de objetos iterables como lista, tuplas, rangos, etc.

**Ejemplo**

Defina un ciclo for que imprima los números del 1 hasta un número determinado

Escriba un número natural: 10
Es es el número 0
Es es el número 1
Es es el número 2
Es es el número 3
Es es el número 4
Es es el número 5
Es es el número 6
Es es el número 7
Es es el número 8
Es es el número 9
10

Crear un ciclo for que determine si los números que están entre 0 y un número dado son: multimplos de 3, multiplos de 5, múltiplos de 3 y 5 o múltiplos de ninguno.

### Ciclo While

Este es un ciclo que se realiza mientras se cumpla cierta condición:

**Ejemplo**

Escriba todos los números hasta que se encuentre el múltiplo de 3 de un número determinado

In [ ]:
n = int(input('Ingresa número: '))
i = 1
while not(i%n==0 and i%3==0):
  print('El número ingresado es '+str(i))
  i+=1

Ingresa número: 7
El número ingresado es 1
El número ingresado es 2
El número ingresado es 3
El número ingresado es 4
El número ingresado es 5
El número ingresado es 6
El número ingresado es 7
El número ingresado es 8
El número ingresado es 9
El número ingresado es 10
El número ingresado es 11
El número ingresado es 12
El número ingresado es 13
El número ingresado es 14
El número ingresado es 15
El número ingresado es 16
El número ingresado es 17
El número ingresado es 18
El número ingresado es 19
El número ingresado es 20

In [2]:
n = int(input('Ingresa número: '))
i=1
while i%(n*3)!=0:
  print('el número ingresado es '+str(i))
  i=i+1

Ingresa número: 7
el número ingresado es 1
el número ingresado es 2
el número ingresado es 3
el número ingresado es 4
el número ingresado es 5
el número ingresado es 6
el número ingresado es 7
el número ingresado es 8
el número ingresado es 9
el número ingresado es 10
el número ingresado es 11
el número ingresado es 12
el número ingresado es 13
el número ingresado es 14
el número ingresado es 15
el número ingresado es 16
el número ingresado es 17
el número ingresado es 18
el número ingresado es 19
el número ingresado es 20

Escriba todos los números que estén entre dos números dados.

In [ ]:
x = int(input("Escriba un numero natural: "))
y = int(input("Escriba un numero natural: "))
i = x
while i >= x and i <= y:
  print("El numero " + str(i))
  i+=1

Escriba un numero natural: 10
Escriba un numero natural: 20
El numero 10
El numero 11
El numero 12
El numero 13
El numero 14
El numero 15
El numero 16
El numero 17
El numero 18
El numero 19
El numero 20

In [ ]:
x = int(input("Escriba un numero natural: "))
y = int(input("Escriba un numero natural: "))

for i in range(x,y):
  print("El numero " + str(i))

Escriba todos los números primos hasta un número dado.

In [9]:
list(range(2,11))

[2, 3, 4, 5, 6, 7, 8, 9, 10]

Cree un ciclo for para una lista de frutas que determine el número de letras que tiene la fruta

In [19]:
n = int(input('Escriba el número de frutas que va a crear: '))
frutas=[]
for i in range(n):
  f=input("Escriba la fruta:")
  frutas.append(f)
  print(frutas)

for j in frutas:
  print('El nombre de la fruta '+j+' tiene '+str(len(j))+ ' letras.')

Escriba el número de frutas que va a crear: 3
Escriba la fruta:Durazno
['Durazno']
Escriba la fruta:Pera
['Durazno', 'Pera']
Escriba la fruta:Manzana
['Durazno', 'Pera', 'Manzana']
El nombre de la fruta Durazno tiene 7 letras.
El nombre de la fruta Pera tiene 4 letras.
El nombre de la fruta Manzana tiene 7 letras.

In [15]:
len(frutas)

3

In [17]:
len(frutas[0])

4

In [6]:
# longitud de cada nombre y letra de la segunda posición de cada palabra:

nombres = ['daniel', 'maria', 'pedro']

for i in nombres:
    print(f"El nombre {i} tiene una longitud de: {len(i)}, y la segunda letra de la palabra {i} es: {i[1]}")

El nombre daniel tiene una longitud de: 6, y la segunda letra de la palabra daniel es: a
El nombre maria tiene una longitud de: 5, y la segunda letra de la palabra maria es: a
El nombre pedro tiene una longitud de: 5, y la segunda letra de la palabra pedro es: e

### Interrupciones de ciclos

#### **continue**

Se utiliza cuando al cumplirse alguna condición, el ciclo actual debe detenerse y continuar con el siguiente.

**Ejemplo**

Escriba el cociente de dividir un número por los números enteros entre -5 y 5.

In [9]:
numero = int(input("Ingrese el número: "))

for i in range(-5,6):
    if i == 0:
        continue
    print(f"El cociente entre {numero} y el número {i} es de  {numero / i}: ")

El cociente entre 10 y el número -5 es de  -2.0:
El cociente entre 10 y el número -4 es de  -2.5:
El cociente entre 10 y el número -3 es de  -3.3333333333333335:
El cociente entre 10 y el número -2 es de  -5.0:
El cociente entre 10 y el número -1 es de  -10.0:
El cociente entre 10 y el número 1 es de  10.0:
El cociente entre 10 y el número 2 es de  5.0:
El cociente entre 10 y el número 3 es de  3.3333333333333335:
El cociente entre 10 y el número 4 es de  2.5:
El cociente entre 10 y el número 5 es de  2.0:

In [14]:
# Crear un programa que pague la nomina a los empleados, pero que descuente el 3% del salario:

# Diccionario de empleados y sus salarios
empleados = {
    'Carlos': 5000,
    'Ana': 6000,
    'Santiago': 5500,
    'Maria': 4500
}

# Lista de empleados de vacaciones
empleados_vacaciones = ['Ana', 'Carlos']

# Crear un nuevo diccionario para almacenar los salarios después de los descuentos
salarios_despues_de_descuentos = {}

# Usar un bucle for para recorrer el diccionario de empleados
for nombre, salario in empleados.items():
    # Comprobar si el empleado está de vacaciones
    if nombre in empleados_vacaciones:
        # Si están de vacaciones, su salario después del descuento es 0
        salario_despues_de_descuento = 0
        print(f"{nombre} está de vacaciones y no recibe salario.")
    else:
        # Calcular el descuento del 3%
        descuento = salario * 0.03
        # Restar el descuento del salario
        salario_despues_de_descuento = salario - descuento
        # Imprimir el salario después del descuento
        print(f"El salario de {nombre} después del descuento del 3% es {salario_despues_de_descuento}")
    
    # Agregar el salario después del descuento al nuevo diccionario
    salarios_despues_de_descuentos[nombre] = salario_despues_de_descuento

Carlos está de vacaciones y no recibe salario.
Ana está de vacaciones y no recibe salario.
El salario de Santiago después del descuento del 3% es 5335.0
El salario de Maria después del descuento del 3% es 4365.0

#### Break

Se utiliza para interrumpir un ciclo.

**Ejemplo**

Escriba los divisores de un número hasta que encuentre un múltiplo de 5.

## Funciones

Una función es una asignación de un resultado a un conjunto de argumentos:
    
**Ejemplo**

Cree una función que calcule el factorial de un número

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact = fact * i
    return fact

In [4]:
factorial(3)

6

Cree una función que sume tres números

In [7]:
def sumatoria(x,y,z):
    w = x+y+z
    return w

In [8]:
sumatoria(1,2,3)

6

Crear una función que reciba el nombre de una fruta y se obtenga la cantidad de letras que  tiene la fruta y la letra que está en una posición dada.

# Ejercicios prácticos con bucle for:

1. Suma de números: Escribe un programa que utilice un bucle for para sumar todos los números del 1 al 100 y que imprima el resultado.

In [21]:
suma = 0
for i in range(1, 101):
    suma += i
print(f"La suma total de los números del 1 al 100 es {suma}")

La suma total de los números del 1 al 100 es 5050

In [18]:
# modo acumulado:
suma = 0
for i in range(1,101):
    suma += i
    print(f"la suma acumulada hasta {i} es {suma}")

la suma acumulada hasta 1 es 1
la suma acumulada hasta 2 es 3
la suma acumulada hasta 3 es 6
la suma acumulada hasta 4 es 10
la suma acumulada hasta 5 es 15
la suma acumulada hasta 6 es 21
la suma acumulada hasta 7 es 28
la suma acumulada hasta 8 es 36
la suma acumulada hasta 9 es 45
la suma acumulada hasta 10 es 55
la suma acumulada hasta 11 es 66
la suma acumulada hasta 12 es 78
la suma acumulada hasta 13 es 91
la suma acumulada hasta 14 es 105
la suma acumulada hasta 15 es 120
la suma acumulada hasta 16 es 136
la suma acumulada hasta 17 es 153
la suma acumulada hasta 18 es 171
la suma acumulada hasta 19 es 190
la suma acumulada hasta 20 es 210
la suma acumulada hasta 21 es 231
la suma acumulada hasta 22 es 253
la suma acumulada hasta 23 es 276
la suma acumulada hasta 24 es 300
la suma acumulada hasta 25 es 325
la suma acumulada hasta 26 es 351
la suma acumulada hasta 27 es 378
la suma acumulada hasta 28 es 406
la suma acumulada hasta 29 es 435
la suma acumulada hasta 30 es 465
la suma acumulada hasta 31 es 496
la suma acumulada hasta 32 es 528
la suma acumulada hasta 33 es 561
la suma acumulada hasta 34 es 595
la suma acumulada hasta 35 es 630
la suma acumulada hasta 36 es 666
la suma acumulada hasta 37 es 703
la suma acumulada hasta 38 es 741
la suma acumulada hasta 39 es 780
la suma acumulada hasta 40 es 820
la suma acumulada hasta 41 es 861
la suma acumulada hasta 42 es 903
la suma acumulada hasta 43 es 946
la suma acumulada hasta 44 es 990
la suma acumulada hasta 45 es 1035
la suma acumulada hasta 46 es 1081
la suma acumulada hasta 47 es 1128
la suma acumulada hasta 48 es 1176
la suma acumulada hasta 49 es 1225
la suma acumulada hasta 50 es 1275
la suma acumulada hasta 51 es 1326
la suma acumulada hasta 52 es 1378
la suma acumulada hasta 53 es 1431
la suma acumulada hasta 54 es 1485
la suma acumulada hasta 55 es 1540
la suma acumulada hasta 56 es 1596
la suma acumulada hasta 57 es 1653
la suma acumulada hasta 58 es 1711
la suma acumulada hasta 59 es 1770
la suma acumulada hasta 60 es 1830
la suma acumulada hasta 61 es 1891
la suma acumulada hasta 62 es 1953
la suma acumulada hasta 63 es 2016
la suma acumulada hasta 64 es 2080
la suma acumulada hasta 65 es 2145
la suma acumulada hasta 66 es 2211
la suma acumulada hasta 67 es 2278
la suma acumulada hasta 68 es 2346
la suma acumulada hasta 69 es 2415
la suma acumulada hasta 70 es 2485
la suma acumulada hasta 71 es 2556
la suma acumulada hasta 72 es 2628
la suma acumulada hasta 73 es 2701
la suma acumulada hasta 74 es 2775
la suma acumulada hasta 75 es 2850
la suma acumulada hasta 76 es 2926
la suma acumulada hasta 77 es 3003
la suma acumulada hasta 78 es 3081
la suma acumulada hasta 79 es 3160
la suma acumulada hasta 80 es 3240
la suma acumulada hasta 81 es 3321
la suma acumulada hasta 82 es 3403
la suma acumulada hasta 83 es 3486
la suma acumulada hasta 84 es 3570
la suma acumulada hasta 85 es 3655
la suma acumulada hasta 86 es 3741
la suma acumulada hasta 87 es 3828
la suma acumulada hasta 88 es 3916
la suma acumulada hasta 89 es 4005
la suma acumulada hasta 90 es 4095
la suma acumulada hasta 91 es 4186
la suma acumulada hasta 92 es 4278
la suma acumulada hasta 93 es 4371
la suma acumulada hasta 94 es 4465
la suma acumulada hasta 95 es 4560
la suma acumulada hasta 96 es 4656
la suma acumulada hasta 97 es 4753
la suma acumulada hasta 98 es 4851
la suma acumulada hasta 99 es 4950
la suma acumulada hasta 100 es 5050

2. Lista de cuadrados: Utiliza un bucle for para crear una lista que contenga los cuadrados de todos los números del 1 al 10.

In [23]:
cuadrados = [i ** 2 for i in range(1,11)]
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

3. Búsqueda en la lista: Crea una lista con varios elementos (pueden ser números, cadenas de texto, etc.). Luego, escribe un bucle for que busque un elemento específico en la lista e imprima un mensaje si lo encuentra.

In [1]:
lista = ['varios', '7', 'hola', 'breve']

buscar = (input("Ingresa la palabra buscada: "))

encontrado = False # valor predeterminado que puede ser verdadero o falso

for palabra in lista:

    if palabra == buscar:
        encontrado = True
        break

if encontrado: # No es necesario colocar "if encontrado == True", porque luego de la sentencia if, python evalua el booleano verdadero. Se puede pero no es necesario
    print(f"la palabra buscada '{buscar}', si se encuentra en la lista")
else:
    print(f"No se encuentra la palabra buscada '{buscar}' en la lista")

la palabra buscada 'varios', si se encuentra en la lista