# Modulo 3 Programación orientada a objetos

## Variables globales y locales

#### Variables Locales

Todas las variables que se definan dentro de una función no pueden utilizarse fuera de esta.

**Ejemplo**

Cree una función llamada suma_producto que retorne la suma de dos números y el producto de los anteriores tres números.

In [ ]:
def sumaproducto(x,y):
  w=x+y
  m=x*y*w
  return w,m

In [ ]:
sumaproducto(4,5)

In [ ]:
m

#### Variables globales

Con el argumento global una variable definida dentro de una función puede utilizarse fuera de ella.

**Ejemplo**:

Cálcule la función suma_producto a los resultados de la anterior función

In [ ]:
def sumaproducto(x,y):
  global w,m
  w=x+y
  m=x*y*w
  return w,m

In [ ]:
sumaproducto(4,6)

In [ ]:
w,m

In [ ]:
5*30*35

In [ ]:
print(sumaproducto(2,3))
print(m)
print(w)
print(sumaproducto(w,m))

### Algunas operadores especiales

#### Operador map

Operador que facilita la aplicación de una función a un objeto iterable.

**Ejemplo**

Aplique el operador map a una lista de nombres que calcule la longitud de cada nombre

In [1]:
frutas=['Durazno','Pera','Manzana']
len(frutas)
list(map(len,frutas))

[7, 4, 7]

In [2]:
def cinco(x):
  return x+5

In [3]:
cinco(7)

12

In [4]:
numeros=(4,5,6,8,4,3,2)
list(map(cinco,numeros))

[9, 10, 11, 13, 9, 8, 7]

In [5]:
def agregue_a(x):
  return x+'a'

In [6]:
n=input('Escriba el nombre:')
list(map(agregue_a,n))

['Ea', 'la', 'ka', 'ia', 'na']

#### Operadores de texto

Operadores que permiten la limpieza de texto:
*   strip
*   title
*   lower
*   upper

In [22]:
# strip quita espacios en blanco al principio y al final de la palabra

texto = "      Vamos a probar el uso de diferen tes FunciONES e n PY THon (kasa)    "
texto

'      Vamos a probar el uso de diferen tes FunciONES e n PY THon (kasa)    '

In [23]:
print(texto.strip())

Vamos a probar el uso de diferen tes FunciONES e n PY THon (kasa)

Reemplazar texto por otro

In [24]:
import re

In [27]:
# cambiar kasa por cada
re.sub('casa', 'kasa', texto)
texto

'      Vamos a probar el uso de diferen tes FunciONES e n PY THon (kasa)    '

#### Funciones anónimas o lambda

Funciones que se declaran en un solo renglón

In [32]:
def cuadrado (x):
    x = x**2
    return x

In [33]:
cuadrado(20)

400

In [34]:
# Aplicar función a los números 4,7,8,9:

lista2 = [4,7,8,9]
list(map(cuadrado,lista2))

[16, 49, 64, 81]

In [36]:
# En lugar de hacer lo anterior, creamos una función anonima:

list(map(lambda x:x*x, lista2))

[16, 49, 64, 81]

Cree una función lambda que tome dos números y haga el cociente entre la suma y la diferencia

In [40]:
lista3 = [(3, 5), (10, 2)]
resultados = list(map(lambda tupla: (tupla[0] + tupla[1]) / (tupla[0] - tupla[1]) if (tupla[0] - tupla[1]) != 0 else 'Indeterminado', lista3))
print(resultados)

[-4.0, 1.5]

## CLASES:

Una clase es una representación abstracta de un concepto. Por ejemplo, una persona, un animal, etc. Crear una clase significa definir un objeto a partir de los atributos que lo caracterizan y definir unos métodos que son funciones cuyos argumentos son estos atributos.

### Ejemplo:

Cree una clase que represente a una persona y cuyos atributos sean: nombre, fecha de nacimiento, altura, peso y nivel educativo. Adicionalmente, calcule los métodos de edad e Índice de masa corporal.

#### Importación de la libreria datetime para fechas

#### Definición de la clase personas

Para crear una clase siempre se utiliza el argumento invocador self

In [108]:
from datetime import datetime

class personas (object):
    def __init__(self, nombre, fecha_nacimiento, altura, peso, nivel_educativo) -> None:
        self.nombre= nombre
        self.nacimiento = datetime.strptime(fecha_nacimiento, "%Y-%m-%d")
        self.altura=altura
        self.peso=peso
        self.formacion=nivel_educativo
    
    def imc(self):
        return self.peso / self.altura ** 2
    
    def edad(self):
        hoy = datetime.today()
        return hoy.year - self.nacimiento.year #- ((hoy.month, hoy.day) < (self.nacimiento.month, self.nacimiento.day))

Cree la persona Diego, que nació el 3 de abril de 1972, tiene una altura de 1.7 metros, un peso de 64 años y es universitario.

In [109]:
Diego = personas("Diego", "2000-06-15", 1.75, 70, "Universitario")

In [110]:
type(Diego)

__main__.personas

Imprima los argumentos del objeto Diego

In [111]:
print(Diego.nombre)
print(Diego.nacimiento)
print(Diego.altura)

Diego
2000-06-15 00:00:00
1.75

Calcule la edad de Diego

In [112]:
print(Diego.edad())

23

Calcule el índice de masa corporal de Diego

In [113]:
Diego.imc()

22.857142857142858

## herencia

Se pueden construir subclases a partir de clases ya definidas que van a heredar sus atributos y métodos.

**Ejemplo**

Cree una subclase de la clase Personas que almacene el género de una persona y que clasifique la estatura de una persona siguiendo las siguientes condiciones:

Si es mujer:
1. Baja: menor a 1.55
2. Media: entre 1.56 y 1.7
3. Alta: Mayor a 1.7

Si es hombre:
1. Baja: menor a 1.60
2. Media: entre 1.6 y 1.8
3. Alta: mayor a 1.8

Cree la subclase

In [114]:
class generos(personas):
    def __init__(self, nombre, fecha_nacimiento, altura, peso, nivel_educativo,genero) -> None:
        super().__init__(nombre, fecha_nacimiento, altura, peso, nivel_educativo)
        self.genero=genero

    def talla(self):
        if self.genero == 'mujer':
            if self.altura < 1.55:
                medida= 'baja'
            elif self.altura < 1.7:
                medida= 'media'
            else:
                medida = 'Alta'
        else:
            if self.altura < 1.80:
                medida= 'baja'
            elif self.altura < 1.90:
                medida= 'media'
            else:
                medida = 'Alta'
        return medida

Creese usted como persona dentro de la subclase género.

In [115]:
Elkin = generos('Elkin',"2023-07-10",1.82,80,'Posgrado','hombre')

In [116]:
print(Elkin.nombre)
print(Elkin.nacimiento)

Elkin
2023-07-10 00:00:00

In [117]:
Elkin.talla()

'media'

**Ejercicio:**

Cree una clase que se llame rectángulo y como métodos tenga el área y el perímetro

**Ejercicio:**

cree una subclase de rectangulos redondeados cuyo atributo adicional sea la cantidad de área que se le quita y cómo método el área total del rectángulo redondeado